<div class="skeleton-container" [ngClass]="type()">
  @for (item of items; track item) {
    <div class="skeleton-item">
      @if (type() === 'card') {
        <div class="skeleton-img"></div>
        <div class="skeleton-content">
          <div class="skeleton-title"></div>
          <div class="skeleton-text"></div>
          <div class="skeleton-text short"></div>
        </div>
      }
      
      @if (type() === 'list') {
        <div class="skeleton-avatar"></div>
        <div class="skeleton-content">
          <div class="skeleton-title"></div>
          <div class="skeleton-text short"></div>
        </div>
      }

      @if (type() === 'text') {
        <div class="skeleton-text"></div>
      }
    </div>
  }
</div>
